body {
	font-family: "adobe-caslon-pro",serif;
	font-size: 1.4em;
	margin: 0px;
}

h1 {
  font-family: "brandon-grotesque";
  font-weight: 900;
  font-size: 2.4em;
  text-transform: uppercase;
}

h2 {
  font-family: "brandon-grotesque";
  font-weight: 700;
  font-size: 1.8em;
  text-transform: uppercase;
}

h3 {
  font-family: "brandon-grotesque";
  text-transform: uppercase;
}

.profileImg{
	max-width: 200px;
	border-radius: 50%;
	margin-top: 20px
}

.flex-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.first-flex-item{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;

	background: black;
	color: white;

	width: 100%;
	min-height: 100vh;
}

.flex-item{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;

	background: black;
	color: white;


	width: 100%;
	min-height: 100vh;
}

.alt-flex-item{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;

	background: beige;
	color: black;

	width: 100%;
	margin-left: 10%;
	margin-right: 10%;
	min-height: 50vh;
}

.flex-footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;

	background: #1f1f1f;
	color: white;

	width: 100%;
	min-height: 10vh;
}

.nav-item{
	padding: 10px;
}

a.nav-item {
	color: white;
}
a:visited.nav-item {
	color: white;
}
a:hover.nav-item {
	color: yellow;
}

.content{
	padding-left: 15%;
	padding-right: 15%;
}

.row-flex-container{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-align: center;

	background: black;
	color: white;
	width: 100%;
}

.row-flex-container-alt{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-align: center;

	background: beige;
	color: black;
	width: 100%;
}

.row-flex-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;

	background: beige;
	color: black;

	min-width: 30%;
	min-height: 40vh;
	margin: 10px;
	padding: 10px;
}

.row-flex-item-alt {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;

	background: black;
	color: white;

	min-width: 30%;
	min-height: 40vh;
	margin: 10px;
	padding: 10px;
}


a.content-item {
	color: black;
}
a:visited.content-item {
	color: black;
}
a:hover.content-item {
	color: mediumvioletred;
}

a.content-item-alt {
	color: white;
}
a:visited.content-item-alt {
	color: white;
}
a:hover.content-item-alt {
	color: yellow;
}

/*a {
	color: yellow;
}

a:visited {
	color: yellow;
}*/